
.block-editor-block-toolbar {
	.toolbar-link-control__input-group {
		flex-grow: 1;
	}

	.toolbar-link-control__input-wrapper {
		display: flex;
		height: 100%;

		.components-base-control {
			display: flex;
			height: 100%;
		}

		.components-base-control__field {
			display: flex;
			margin: 0;
		}

		.components-input-control__input {
			min-width: 280px;
			padding-left: 0;
		}
	}

	.toolbar-link-control__input-control {
		height: 100%;
		border: 1px solid #ccc;
		flex-grow: 1;
		align-self: center;
		font-size: 13px;
	}

	.toolbar-link-control__icon-wrapper {
		width: $grid-unit-50;
		text-align: center;
	}
}

.block-editor-link-control__search-results-wrapper.is-toolbar-results {
	margin-top: 0;
}
